html,
body {

    padding: 0;
    margin: 0;
}


.container_bild {
    display: flex;
    justify-content: center;

}


/*Navigation*/
nav {
    background: #0082e6;
    height: 90px;
    width: 100%;

}

nav ul {
    float: right;
    margin-right: 15px;
}

nav ul li {
    display: inline-block;
    line-height: 85px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 7px 13px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #1b9bff;
    transition: .5s;
}




.slide {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(410px/5);
    height: 4px;
    background: #3641b7;
    transition: .4s;
}

/*Showroom*/


.h-showroom {
    background: #253849;
    color: white;
    padding-top: 20px;
}

.h-showroom h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff7159;
    text-decoration: underline;
}

.h-showroom p {
    text-align: center;
    padding-right: 310px;
    padding-left: 310px;
}

.h-showroom-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px;
    width: 325px;
    height: 660px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    background-color: #fff;
}

.h-showroom img {
    width: 100%;
    height: auto;
}



/*Newsletter*/

.full-newsletter {
    background: #F0EFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 33px; 
}

.newsletter {
    background: #1e81b0;
    text-align: center;
    max-width: 330px;
    padding: 50px 30px;
    border-radius: 5px;
    color: white;
    margin-top: 35px;
}

.newsletter p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 27px;
}

.newsletter input {
    border-radius: 3px;
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 30px;
    font-size: 15px;
}

.newsletter button {
    border: 1px solid;
    border-radius: 4px;
    height: 50px;
    background-color: transparent;
    color: white;
    padding: 0px 28px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 31px;
    margin-left: 5px;
}

.newsletter button:hover {
    background-color: #00138e;
    border-color: #00138e;
}

/*Swiper*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.newsletter-container p {
    max-width: 600px;
    margin: 30px;
    font-size: 15px;
    font-weight: 300;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


/*Footer*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #333;
    padding: 30px 0;

}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;


}

ul {
    list-style: none;

}

.footer-col ul li a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 5px;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

form .far {
    font-size: 20px;
    /*Grösse von Envelope anpassen*/
    margin-right: 10px;
}

#email {
    width: 100%;
    background: transparent;
    /*Textbox ist transparent */
    color: #ccc;
    outline: none;
    border: 0;
}


/*AGB,Datenschutz... Footer*/
.endfooter {
    background-color: #FC0404;
}

.container-endfooter {
    display: flex;
    align-content: flex-end;

}

.endfooter-col {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;

}


.endfooter-col a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;

}

.line {
    padding: 0 0.125rem;
    color: white;
}

.endfooter-col a:hover {
    color: #ffffff;
    display: flex;
    text-decoration: underline;
}

.endfooter-col p {
    color: #ffffff;
    display: flex;
    padding-left: 30px;
}


/*Kontaktformular*/
.full-kontakt {
    background: #253849;
    padding: 30px;
    border: 5px;
}

.kontakt-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* Spalte zwischen Telefonnummer & Kontaktfomular*/
}

.kontakt-container h3 {
    margin: 30px 0 10px 0;
    color: #ff7159;
}

.kontakt-container p {
    color: white;
    padding: 2px;
    /* Abstand zwischen den Zeilen*/
}

.kontakt {
    width: 55%;
    border-right: 3px solid;
    /*Linie zwischen Telefonnummer & Kontaktformular*/
}

.google-map {
    display: flex;
}


.kontaktformular {
    width: 55%;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: white;
}

.form h2 {
    color: #ff7159;
}

.kontaktformular input,
label {
    transition: .2s all ease-in;
}

.kontaktformular input,
label,
textarea {
    outline: none;
}

.kontaktformular textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
}

.kontaktformular input[type="text"] {
    height: 25px;
}

.kontaktformular input[type="email"] {
    height: 25px;
}

.kontaktformular input[type="submit"] {
    width: 100%;
    border: none;
    margin: 10px 5px;
    padding: 8px;
    border-radius: 3px;
    color: white;
    background-color: #006ed5;
}

.kontaktformular input[type="submit"]:hover {
    background: #004688;
    cursor: pointer;
}

/*Teampage*/
header {
    width: 100%;
    height: 2000px;
    background-color: #253849;
}

.team-container {
    width: 1200px;
    height: 100vh;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.team-container h3 {
    color: white;
}

.team-container h1 {
    font-size: 70px;
    color: #ff7159;
}

.team-container .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-right: 20px;
}


.row .box {
    width: 210px;
    height: 370px;
    background-color: #CCCCCC;
    border-radius: 10px;
    cursor: pointer;
}

.row .box img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.row .box h2 {
    padding-top: 20px;
    font-size: 25px;
    cursor: pointer;
    color: black;
}

.row .box h4 {
    padding-top: 10px;
    color: grey;
    font-size: 20px;
}


/*Produkte*/
.sektion {
    width: 100%;
    min-height: 100vh;
}

.p-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #253849;
}

.p-container .p-titel {
    width: 100%;
    margin-top: 20px;
    color: #ff7159;
}

.p-container .p-titel h1 {
    text-align: center;
    font-size: 51px;
    text-transform: uppercase;
    font-weight: 600;
}

.p-container .p-titel h1::after {
    content: "";
    height: 5px;
    width: 325px;
    background-color: #ff7159;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.karte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px;
    width: 325px;
    height: 360px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    background-color: #fff;
}

.karte:hover {
    box-shadow: 0px 2px 40px #ff7159;
}

.karted {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px;
    width: 325px;
    height: 410px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    background-color: #fff;
}

.karted:hover {
    box-shadow: 0px 2px 40px #ff7159;
}

.karte2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px;
    width: 325px;
    height: 660px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    background-color: #fff;
}

.karte2:hover {
    box-shadow: 0px 2px 40px #ff7159;
}

.lampen-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lampen-img img {
    width: 100%;
    height: auto;
}

.beschreibung {
    text-align: center;
    margin-top: 20px;
}

.beschreibung h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 2px;
    margin-top: 10px;
}

.beschreibung p {
    font-size: 17px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

.beschreibung span {
    margin-left: 6px;
}

.button-show {
    margin-top: 15px;
}

.button-show .ansehen {
    background-color: #1986d2;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
}


/*Detail Page*/

.d-product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #253849;
    padding-bottom: 70px;
}

.d-product-img {
    width: 50%;
    padding-left: 200px;
    cursor: pointer;
}

.d-product-img img {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
    padding-left: 20%;
}

.d-beschreibung {
    width: 50%;
    padding-left: 25px;
}

.d-beschreibung h1 {
    padding-bottom: 20px;
    color: #ff7159;
}

.d-beschreibung p {
    color: white;
    padding-bottom: 11px;
}

.d-beschreibung p b {
    padding-right: 4px;
}


.d-beschreibung button {
    background-color: #1986d2;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.d-beschreibung .fas {
    padding-left: 7px;
}

/*About US Page*/

.ab-header-img img {
    width: 100%;
    height: 399px;
    background: #253849;
}

.ab-full-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #253849;
}

.ab-container {
    height: 420px;
    width: 400px;
    background: #F0EFEF;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-top: 20px;
    text-align: center;
}

.ab-container h1 {
    color: #333333;
    padding-top: 2px;

}

.ab-container p {
    color: #333333;
    margin-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

/*Tabelle*/

.ab-title {
    background: #253849;
}

.ab-title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff7159;
    text-decoration: underline;

}


.ab-title p {
    text-align: center;
    padding-right: 210px;
    padding-left: 210px;
    color: white;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #253849;
}


.table-box {
    margin: 50px;
}

.table-row {
    display: table;
    width: 1000px;
    margin: 10px;
    font-family: sans-serif;
    padding: 12px 0;
    background: white;
    color: black;
    font-size: 13px;
    box-shadow: 0 1px 4px 0;
}

.table-cell {
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid;
    vertical-align: middle;
}

.table-row-head {
    display: table;
    width: 1000px;
    margin: 10px;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    font-size: 13px;
    background: lightblue;
    box-shadow: none;
    color: #fff;
    font-weight: 700;
}